@model List<SHOPCRUD.Models.DomainModels.Watch>

@{
}
<partial name="Notification" />
<h1>Watches</h1>


<table class="table table-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>BrandName</th>
            <th>ModelName</th>
            <th>Price</th>
            <th>ReferenceNumber</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var watch in Model)
        {
            <tr class="table-dark">
                <td>@watch.Id</td>
                <td>@watch.BrandName</td>
                <td>@watch.ModelName</td>
                <td>@watch.Price</td>
                <td>@watch.ReferenceNumber</td>
                <td><a class="btn btn-warning" href="Watch/View/@watch.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>