@model List<SHOPCRUD.Models.DomainModels.Watch>

@{
}

<h1>Watches</h1>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter BrandName or ModelName" value="@ViewData[" Getwatchdetails"]" name="Watchsearch" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary"/> |
        <a asp-action="Index">Get All Watches</a>
    </p>
</form>
    

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>BrandName</th>
            <th>ModelName</th>
            <th>Price</th>
            <th>ReferenceNumber</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var watch in Model)
        {
            <tr>
                <td>@watch.Id</td>
                <td>@watch.BrandName</td>
                <td>@watch.ModelName</td>
                <td>@watch.Price</td>
                <td>@watch.ReferenceNumber</td>
                <td><a href="Watch/View/@watch.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>